Source: libtvout-ctl
Priority: extra
Maintainer: Ville Syrjälä <syrjala@sci.fi>
Build-Depends:
 debhelper-compat (= 12),
 libtool,
 pkg-config,
 libxv-dev
Standards-Version: 4.3.0
Section: libs

Package: libtvout-ctl-dev
Section: libdevel
Architecture: any
Depends: libtvout-ctl (= ${source:Version})
Description: Development files for libtvout-ctl
 Files needed to develop using libtvout-ctl.

Package: libtvout-ctl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to control N900 TV out parameters
 This library allows you to control different parameters
 of the N900's TV out (enable/disable, PAL/NTSC, aspect ratio
 and scaling factor).
